

#cmb {
	-fx-background-color: white;
	-fx-border-size:1px;
	-fx-border-color:grey;
	-fx-box-shadow: 0 2px 0 white;
	-fx-border-radius: 2px;
	}
#title_lbl{
	-fx-color: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}