.textinput {
    -fx-background: transparent;
    -fx-border: none;
    -fx-padding: 2px 5px;
    -fx-outline: 0;
}
.vbox-dish-options{
	overflow:scroll;
}

.btn{
    -fx-align-items: center;
    -fx-background-clip: padding-box;
    -fx-background-color: #FFF8DC;
    -fx-border: 1px;
    -fx-border-radius: 5px;
    -fx-box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    -fx-box-sizing: border-box;
    -fx-color: #fff;
    -fx-cursor: pointer;
    -fx-display: inline-flex;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-justify-content: center;
    -fx-line-height: 1.25;
    -fx-margin: 0;
    -fx-padding: 5px;
    -fx-position: relative;
    -fx-text-decoration: none;
    -fx-transition: all 250ms;
    -fx-user-select: none;
    -fx-touch-action: manipulation;
    -fx-width: auto;
  }
  
 .dish-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}
.text-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color:#fff;
    -fx-background: #FFFFFF;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.lbl{
	-fx-font-weight:bold;
	-fx-font-size:12px;
	-fx-font-family:'sans-sarif'
}

.cart-img:hover{
	-fx-cursor:pointer;
}

.minus-btn{
	-fx-background-color:#DC143C;
    -fx-background-radius: 85;
}
#title_lbl{
    -fx-color: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-font-family:'sans-sarif'
}

.chosen-dish-card{
    -fx-background-color: #DEB887;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.span{
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    border: solid blue;
    border-radius: 60%;
    height: 14px;
    width: 8px;
    background:blue;
}


.btn:hover,
.btn:focus {
  -fx-background-color: #f79452;
  -fx-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:active {
  -fx-background-color: #ec7729;
  -fx-box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}


.ViewBtn {
  -fx-background-color:#F9E3B4;
  -fx-box-sizing: border-box;
  -fx-cursor: pointer;
  -fx-display: inline-block;
  -fx-font-weight: 600;
  -fx-line-height: 1;
  -fx-text-align: center;
  -fx-text-decoration-thickness: auto;
  -fx-transition: all .1s cubic-bezier(.4, 0, .2, 1);
  -fx-user-select: none;
  -fx-border-color:#E6E1D6;
  -fx-touch-action: manipulation;
  -fx-background-radius:50;
  -fx-border-radius:50;
}
.ViewBtn:hover {
  -fx-background-color: #fff;
}

.titled-pane 
{
-fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border,
linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}


.bitemelogo{
	-fx-background-image: url("/img/BiteMeLogo.png");
	-fx-background-repeat: repeat;
	
}
.accordion {
 
   -fx-color: #444;
   -fx-cursor: pointer;
   -fx-padding: 18px;
   -fx-width: 100%;
   -fx-text-align: left;
   -fx-border: none;
   -fx-outline: none;
   -fx-transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
   -fx-background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.accordion_panel {
   -fx-padding: 0 18px;
   -fx-background-color: white;
   -fx-display: none;
   -fx-overflow: hidden;
}



