.textinput {
    -fx-background: transparent;
    -fx-border: none;
    -fx-padding: 2px 5px;
    -fx-outline: 0;
}


.btn{
    -fx-align-items: center;
    -fx-background-clip: padding-box;
    -fx-background-color: #fa904a;
    -fx-border: 1px;
    -fx-border-radius: 5px;
    -fx-box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    -fx-box-sizing: border-box;
    fx-color: #fff;
  -fx-cursor: pointer;
  -fx-display: inline-flex;
  -fx-font-size: 16px;
  -fx-font-weight: 600;
  -fx-justify-content: center;
  -fx-line-height: 1.25;
  -fx-margin: 0;
  -fx-padding: 5px;
  -fx-position: relative;
  -fx-text-decoration: none;
  -fx-transition: all 250ms;
  -fx-user-select: none;
  -fx-touch-action: manipulation;
  -fx-width: auto;
}

.btn:hover,
.btn:focus {
  -fx-background-color: #f79452;
  -fx-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:active {
  -fx-background-color: #ec7729;
  -fx-box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}

